{% extends 'base.html' %}
{% block content %}

    <div class="container my-4">
        <form>
            <h2>Contact Us</h2>
            <div class="form-group" placeholder="Enter your Email">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
             
            </div>
            <br>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Your Query</option>
                <option value="1">Cup</option>
                <option value="2">Cone</option>
                <option value="3">Candy</option>
            </select>
            <br>

            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Elobrate your Concern</label>
              </div>
              <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        
    </div>
   
    
<br>
     <br>
     <br>
     <br>      
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
              

     {% endblock %}