{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div id="container">
        <h1>{{newsDetails.news_title}}</h1>
        <div class="row featurette my-4">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 mx-4"> First featurette heading. <span
                        class="text-body-secondary">It’ll blow your mind.  </span></h2>
                <p class="lead mx-4">{{newsDetails.news_desc | safe}}</p>
                    
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src"{% static 'about1.jpg' %}" alt="...">
            </div>
        </div>

        <div class="row featurette mx-2 my-4">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span
                        class="text-body-secondary">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                    this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="{% static 'about2.jpg' %}" alt="">
            </div>
        </div>

        <div class="row featurette my-4">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 mx-4">First featurette heading. <span
                        class="text-body-secondary">It’ll blow your mind.</span></h2>
                <p class="lead mx-4">Some great placeholder content for the first featurette here. Imagine some exciting
                    prose here.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="{% static 'about3.jpg' %}" alt="">
            </div>
        </div>
    </div>

    {% endblock %}





   